In [1]:
import yaml
from collections import defaultdict
#import pprint
#pp = pprint.PrettyPrinter(indent=4)
#%pprint # turn on /off
import sqlalchemy
from sqlalchemy import create_engine
import sqlparse

In [2]:
def defaultify(d):
    if isinstance(d, dict):
        return defaultdict(lambda: None, {k: defaultify(v) for k, v in d.items()})
    elif isinstance(d, list):
        return [defaultify(e) for e in d]
    else:
        return d

In [3]:
def load_conf():
    with open('dags/configs/conf.yaml', "r") as config_file:
        conf = yaml.safe_load(config_file)
        #dconf=defaultify(conf)
        conf=conf['rv']
        return conf
        
conf=defaultify(load_conf())

In [4]:
conf

defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
            {'hubs': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                         {'hub_tax_bundle': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                      {'hk': 'hk_tax_bundle',
                                       'bk': 'tax_bundle_id',
                                       'overwrite': False,
                                       'src': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                                   {'v_report_taxation': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                                                {'bkeycode': 'default',
                                                                 'tenant': 'default',
                                                                 'bks': ['tax_bundle_id',
                                                                  'dossier_uuid']}),
                                                    'v_report_ziffer': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                                                {'bks': ['tax_bundle_id']})})}),
                          'hub_ziffer': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                      {'hk': 'hk_ziffer',
                                       'bk': 'ziffer',
                                       'overwrite': False,
                                       'src': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                                   {'v_report_dict_ziffer': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                                                {'bks': ['ziffer']})})})}),
             'links': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                         {'lnk_taxbundle_ziffer': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                      {'hk': 'hk_l_taxbundle_ziffer',
                                       'hks': ['hk_ziffer', 'hk_tax_bundle'],
                                       'overwrite': False,
                                       'cks': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                                   {'dossier_uuid': 'dossier'}),
                                       'src': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                                   {'v_report_ziffer': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                                                {'bkeycode': 'default',
                                                                 'tenant': 'default',
                                                                 'bks': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                                                             {'ziffer': 'hk_ziffer',
                                                                              'tax_bundle_id': 'hk_tax_bundle',
                                                                              'snapshot_version': 'hk_tax_bundle'})}),
                                                    'v_report_taxation': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                                                {'bks': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                                                             {'ziffer': 'hk_ziffer',
                                                                              'tax_bundle_id': 'hk_tax_bundle'})})})})}),
             'sats': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                         {'sat_taxbundle': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                      {'hk': 'hk_tax_bundle',
                                       'attrs': ['taxation_type',
                                        'status',
                                        'gemeinde_bfs'],
                                       'src': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                                   {'v_report_taxation': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                                                {'bks': ['tax_bundle_id',
                                                                  'snapshot_version'],
                                                                 'attrs': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                                                                             {'taxation_type': 'taxation_type',
                                                                              'status': 'status',
                                                                              'gemeinde_bfs': 'gemeinde_bfs'})})})})})})

# staging

In [4]:
maxvarchar=256

In [5]:
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/datavault")

In [6]:
schema_source='quelle'
src_cols=defaultdict(list,{})
src_hub=defaultdict(list,{})

with engine.connect() as conn:    
    #result=conn.execute('select table_name from information_schema."tables" where table_schema = \'quelle\'')
    # quelltabelle aus conf-dict
    for hub,hub_obj in conf['hubs'].items():
        for src in hub_obj['src'].keys():
            
            sql=f"""SELECT column_name, data_type 
                   FROM information_schema.columns
                   WHERE table_schema = \'{schema_source}\'
                   AND table_name   = \'{src}\';"""

            #print(sql)
            result=conn.execute(sql)            
            records=result.fetchall()
            #records=[i[0] for i in records]
            
            src_cols[src]=[i[0] for i in records]
            src_hub[hub].append(src)

In [9]:
src_hub

defaultdict(list,
            {'hub_tax_bundle': ['v_report_taxation', 'v_report_ziffer'],
             'hub_ziffer': ['v_report_dict_ziffer']})

In [10]:
src_cols

defaultdict(list,
            {'v_report_taxation': ['effective_date',
              'snapshot_version',
              'year',
              'tax_bundle_id',
              'taxation_type',
              'status',
              'dossier_uuid',
              'gemeinde_bfs',
              'sachbearbeiter',
              'sachbearbeiter_group',
              'verfugungsbasis',
              'tax_liability_type',
              'modifytimestamp',
              'taxation_version'],
             'v_report_ziffer': ['effective_date',
              'snapshot_version',
              'tax_bundle_id',
              'ziffer',
              'betrag_kanton',
              'modifytimestamp'],
             'v_report_dict_ziffer': ['effective_date',
              'snapshot_version',
              'year',
              'ziffer',
              'code',
              'technical_key',
              'ziffer_type',
              'description',
              'modifytimestamp']})

## stage hubs

In [7]:
# V1.1 @18.10.22: original fields wird nicht mitgeschleppt. Nur Keys

schema_stage='stage'
appts=None
task_id = '12345'
conf=dconf['rv']

for hub,tables in src_hub.items():            
    hk=conf['hubs'][hub]['hk']
    for table_name in tables:        
        records=src_cols[table_name]
        #original_fields=f' varchar({maxvarchar}),\n\t'.join(records) + f' varchar({maxvarchar})'
        bk_tgt=conf['hubs'][hub]['bk']
        
        bks_src=conf['hubs'][hub]['src'][table_name]['bks']    
        #bks_src_str=f" varchar({maxvarchar}),\n\t".join(bks_src)
        
        #######################
        #     CREATE SQL
        #######################
        sql=f"""CREATE TABLE IF NOT EXISTS  {schema_stage}.{table_name}__{hub} (
        --bk--
        {bk_tgt} varchar({maxvarchar}) NOT NULL,
        --hk--
        {hk} varchar({maxvarchar}) NOT NULL,
        --meta--        
        DV_LOADTS timestamp NULL,
        DV_APPTS timestamp NULL,
        DV_RECSRC varchar({maxvarchar}) NULL,
        DV_TENANT varchar({maxvarchar}) NULL,
        DV_BKEYCODE varchar({maxvarchar}) NULL,
        DV_TASKID varchar({maxvarchar}) NULL        
       );
       TRUNCATE {schema_stage}.{table_name}__{hub};
       """
        
        print(sql)
        #continue
        ######################
        #   INSERT SQL
        #######################        
        bk_trans = [f"trim(coalesce({x}::varchar({maxvarchar}),\'-1\'))" for x in bks_src] #-1= zero key
        bk_trans_str=",".join(bk_trans)        
        #bk_tgt_concat=f"concat_ws('|',{bk_trans_str})"
        #bk_trans_list_str=",\n\t".join(bk_trans)        
        #print(bk_trans)
        
        #bks_src_vals=[f"truncate({x}::varchar({maxvarchar}))" for x in bks_src]
        #bks_src_vals_str=",\n\t".join(bks_src_vals)
        
        tenant = conf['hubs'][hub]['src'][table_name]['tenant']
        if not tenant:
            tenant='default'
            
        bkeycode = conf['hubs'][hub]['src'][table_name]['bkeycode']
        if not bkeycode:
            bkeycode='default'    
            
            
        # multiple bkeys map to one?             
        bk_str = f"concat_ws('|',{bk_trans_str})"  # only pure bk
        hk_str = f"concat_ws('|','{tenant}','{bkeycode}',{bk_trans_str})"
        hk_str = f'md5({hk_str})'
        
        # folgende loop behandelt Zero-Keys
        records2=[]        
        for x in records:            
            if x in bks_src:
                #if not bk_str in records2:
                    #records2.append(bk_str)                
                records2.append(f'trim(coalesce({x}::varchar({maxvarchar}),\'-1\'))') # -1=zero key
            else:
                records2.append(f'trim({x}::varchar({maxvarchar}))')
                

        #records2=[f'trim({x}::varchar({maxvarchar}))' for x in records]
        print("\n")

        #original_fields = ',\n\t'.join(records2)
        if not appts:
            appts='current_timestamp'
        else:
            appts=appts+'::timestamp'                
                
        
        sql=f"""INSERT INTO {schema_stage}.{table_name}__{hub} SELECT
        --bk--
        {bk_str},
        --hk--
        {hk_str},
        --meta--        
        current_timestamp,
        {appts},
        \'{table_name}\',
        \'{tenant}\',
        \'{bkeycode}\',
        \'{task_id}\'
FROM {schema_source}.{table_name}
;        
        """
        
        print(sql)
        #break
    #break

CREATE TABLE IF NOT EXISTS  stage.v_report_taxation__hub_tax_bundle (
        --bk--
        tax_bundle_id varchar(256) NOT NULL,
        --hk--
        hk_tax_bundle varchar(256) NOT NULL,
        --meta--
        DV_LOADTS timestamp NULL,
        DV_APPTS timestamp NULL,
        DV_RECSRC varchar(256) NULL,
        DV_TENANT varchar(256) NULL,
        DV_BKEYCODE varchar(256) NULL,
        DV_TASKID varchar(256) NULL
       );
       TRUNCATE stage.v_report_taxation__hub_tax_bundle;



INSERT INTO stage.v_report_taxation__hub_tax_bundle SELECT
        --bk--
        concat_ws('|',trim(coalesce(tax_bundle_id::varchar(256),'-1')),trim(coalesce(dossier_uuid::varchar(256),'-1'))),
        --hk--
        md5(concat_ws('|','default','default',trim(coalesce(tax_bundle_id::varchar(256),'-1')),trim(coalesce(dossier_uuid::varchar(256),'-1')))),
        --meta--
        current_timestamp,
        current_timestamp,
        'v_report_taxation',
        'default',
        'default',
        '12345'
FROM quelle.v_report_taxation
;

CREATE TABLE IF NOT EXISTS  stage.v_report_ziffer__hub_tax_bundle (
        --bk--
        tax_bundle_id varchar(256) NOT NULL,
        --hk--
        hk_tax_bundle varchar(256) NOT NULL,
        --meta--
        DV_LOADTS timestamp NULL,
        DV_APPTS timestamp NULL,
        DV_RECSRC varchar(256) NULL,
        DV_TENANT varchar(256) NULL,
        DV_BKEYCODE varchar(256) NULL,
        DV_TASKID varchar(256) NULL
       );
       TRUNCATE stage.v_report_ziffer__hub_tax_bundle;



INSERT INTO stage.v_report_ziffer__hub_tax_bundle SELECT
        --bk--
        concat_ws('|',trim(coalesce(tax_bundle_id::varchar(256),'-1'))),
        --hk--
        md5(concat_ws('|','default','default',trim(coalesce(tax_bundle_id::varchar(256),'-1')))),
        --meta--
        current_timestamp,
        current_timestamp::timestamp,
        'v_report_ziffer',
        'default',
        'default',
        '12345'
FROM quelle.v_report_ziffer
;

CREATE TABLE IF NOT EXISTS  stage.v_report_dict_ziffer__hub_ziffer (
        --bk--
        ziffer varchar(256) NOT NULL,
        --hk--
        hk_ziffer varchar(256) NOT NULL,
        --meta--
        DV_LOADTS timestamp NULL,
        DV_APPTS timestamp NULL,
        DV_RECSRC varchar(256) NULL,
        DV_TENANT varchar(256) NULL,
        DV_BKEYCODE varchar(256) NULL,
        DV_TASKID varchar(256) NULL
       );
       TRUNCATE stage.v_report_dict_ziffer__hub_ziffer;



INSERT INTO stage.v_report_dict_ziffer__hub_ziffer SELECT
        --bk--
        concat_ws('|',trim(coalesce(ziffer::varchar(256),'-1'))),
        --hk--
        md5(concat_ws('|','default','default',trim(coalesce(ziffer::varchar(256),'-1')))),
        --meta--
        current_timestamp,
        current_timestamp::timestamp::timestamp,
        'v_report_dict_ziffer',
        'default',
        'default',
        '12345'
FROM quelle.v_report_dict_ziffer
;

## stage links

In [47]:
schema_source='quelle'
src_lnk_cols=defaultdict(list,{})
src_lnk=defaultdict(list,{})

with engine.connect() as conn:    
    for lnk,lnk_obj in conf['links'].items():
        for src in lnk_obj['src'].keys():
            
            sql=f"""SELECT column_name, data_type 
                   FROM information_schema.columns
                   WHERE table_schema = \'{schema_source}\'
                   AND table_name   = \'{src}\';"""

            #print(sql)
            result=conn.execute(sql)            
            records=result.fetchall()
            #records=[i[0] for i in records]
            
            src_lnk_cols[src]=[i[0] for i in records]
            src_lnk[lnk].append(src)

In [90]:
# V1.1 @18.10.22: original fields wird nicht mitgeschleppt. Nur Keys (BKs,CKs)

schema_stage='stage'
appts=None
task_id = '12345'
conf=dconf['rv']

for link,tables in src_lnk.items():    
    
    #link='lnk_taxbundle_ziffer'
    
    hk=conf['links'][link]['hk']
    for table_name in tables:  
        
        #table_name = 'v_report_taxation'
        
        records=src_lnk_cols[table_name]
        #original_fields=f' varchar({maxvarchar}),\n\t'.join(records) + f' varchar({maxvarchar})'
                
        
        bks= conf['links'][link]['src'][table_name]['bks']
        bks_uniq=[]
        for x in bks.values():
            if not x in bks_uniq:
                bks_uniq.append(x)
                
        hk_hubs_keys = bks.values()
        hk_hubs_keys_str = f" varchar({maxvarchar}) NOT NULL,\n\t".join(bks_uniq) + f" varchar({maxvarchar}) NOT NULL,"    
        #print(hk_hubs_keys_str)        
        cks=conf['links'][link]['cks']
        
        # ckeys kommen zusätzlich hinzu, falls nicht schon in dieser quellen-tabelle in original-fields entahlten
        # falls ckey auf ckey gemappt wird (i.e. selbe benamung), sollen ja nicht 2 felder mit selbem namen entstehen
        cks_list=[x for x in cks.values()] # if not x in records]
        cks_str=''
        if len(cks_list)>0:
            cks_str=f" varchar({maxvarchar}) NOT NULL,\n\t".join(cks_list) + f" varchar({maxvarchar}) NOT NULL,"    
        
        #######################
        #     CREATE SQL
        #######################
        sql=f"""CREATE TABLE IF NOT EXISTS {schema_stage}.{table_name}__{lnk} (
        --hk--
        {hk} varchar({maxvarchar}) NOT NULL,
        --hks--
        {hk_hubs_keys_str}
        --cks--
        {cks_str}        
        --meta--
        DV_LOADTS timestamp NULL,
        DV_APPTS timestamp NULL,
        DV_RECSRC varchar({maxvarchar}) NULL,
        DV_TENANT varchar({maxvarchar}) NULL,
        DV_BKEYCODE varchar({maxvarchar}) NULL,
        DV_TASKID varchar({maxvarchar}) NULL
       );
       TRUNCATE {schema_stage}.{table_name}__{lnk};
       """
        
        print(sql)
        #continue 
    
        
                
        ######################
        #   INSERT SQL
        #######################
        records = [f"coalesce(trim({x}::varchar({maxvarchar})),\'-1\')" if x in bks else x for x in records]                        
        #records_str=',\n\t'.join(records)
        
        bks_src=conf['links'][link]['src'][table_name]['bks']
        bk_tgt=conf['links'][link]['bk']
        bk_trans = [f"trim(coalesce({x}::varchar({maxvarchar}),\'-1\'))" for x in bks_src] #-1= zero key
        bk_trans_str=",".join(bk_trans)
        #print(bk_trans)            
        
        tenant = conf['links'][link]['src'][table_name]['tenant']
        if not tenant:
            tenant='default'
            
        bkeycode = conf['links'][link]['src'][table_name]['bkeycode']
        if not bkeycode:
            bkeycode='default'    
            
                
        # multiple bkeys map to one?             
        bk_str = f"concat_ws('|','{tenant}','{bkeycode}',{bk_trans_str})"            
        hk_str = f'md5({bk_str})'
        # todo: checke ob das wirklich so geht, wenn composite-keys ins spiel kommen
        
        # now individual bk to hk map (beachte option von composite-keys)
        hk2bk=defaultdict(list)
        for key,val in bks.items():
            hk2bk[val].append(key)
        
        
        bk_trans_multi = []
        concat_general=f"concat_ws('|',\'{tenant}\',\'{bkeycode}\',"
        #for hk,bklist in hk2bk.items(): # würde hk von oben überschreiben
        for bklist in hk2bk.values():
            if len(bklist)>1:
                bk_concat = [f"trim(coalesce({x}::varchar({maxvarchar}),\'-1\'))" for x in bklist] #-1= zero key
                #print(",".join(concat))
                bk_trans_multi.append(concat_general+",".join(bk_concat)+")")
            else:
                bk_trans_multi.append(concat_general+f"trim(coalesce({bklist[0]}::varchar({maxvarchar}),\'-1\')"+"))")

        bk_trans_multi_str = ',\n\t'.join(bk_trans_multi)        
        #print(bk_trans_str)        
        #print(bk_str)
        #print(hk_str)
                        
        
        #cks         
        cks_val=[f"coalesce(trim({x}::varchar({maxvarchar})),\'-1\')" if x in records else "\'-1\'" for x in cks.keys()]
        cks_val_str=",\n\t".join(cks_val)
        #print(cks_val_str)

        
        if not appts:
            appts='current_timestamp'
        else:
            appts=appts+'::timestamp'                
                
        
        
        sql=f"""INSERT INTO {schema_stage}.{table_name}__{link} SELECT 
        --hk--
        {hk_str},
        --hks--
        {bk_trans_multi_str},
        --cks--
        {cks_val_str},
        --meta--
        current_timestamp,
        {appts},
        \'{table_name}\',
        \'{tenant}\',
        \'{bkeycode}\',
        \'{task_id}\'
FROM {schema_source}.{table_name}
;        
        """


        
        print(sql)
        break
    break

NameError: name 'dconf' is not defined

In [75]:
conf['links']['lnk_taxbundle_ziffer']['src']['v_report_taxation']

defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
            {'bks': defaultdict(<function __main__.defaultify.<locals>.<lambda>()>,
                         {'ziffer': 'hk_ziffer',
                          'tax_bundle_id': 'hk_tax_bundle'}),
             'tenant': None,
             'bkeycode': None})

In [95]:
cks.keys()

dict_keys(['dossier_uuid'])

In [99]:
[f"coalesce(trim({x}::varchar({maxvarchar})),'-1')" if x in records else "'-1'" for x in cks.keys()]

["'-1'"]

In [102]:
records

["coalesce(trim(effective_date::varchar(256)),'-1')",
 "coalesce(trim(snapshot_version::varchar(256)),'-1')",
 "coalesce(trim(year::varchar(256)),'-1')",
 "coalesce(trim(tax_bundle_id::varchar(256)),'-1')",
 "coalesce(trim(taxation_type::varchar(256)),'-1')",
 "coalesce(trim(status::varchar(256)),'-1')",
 "coalesce(trim(dossier_uuid::varchar(256)),'-1')",
 "coalesce(trim(gemeinde_bfs::varchar(256)),'-1')",
 "coalesce(trim(sachbearbeiter::varchar(256)),'-1')",
 "coalesce(trim(sachbearbeiter_group::varchar(256)),'-1')",
 "coalesce(trim(verfugungsbasis::varchar(256)),'-1')",
 "coalesce(trim(tax_liability_type::varchar(256)),'-1')",
 "coalesce(trim(modifytimestamp::varchar(256)),'-1')",
 "coalesce(trim(taxation_version::varchar(256)),'-1')"]

In [103]:
# V1.2 @20.10.22

schema_stage='stage'
appts=None
task_id = '12345'
#conf=dconf['rv']

for link,tables in src_lnk.items():    
    
    #link='lnk_taxbundle_ziffer'
    
    hk=conf['links'][link]['hk']    # PK of link
    hks = conf['links'][link]['hks'] # PKs of hubs
    hks_list = [f"{x} varchar({maxvarchar}) NOT NULL" for x in hks]
    hks_list_str = ",\n\t".join(hks_list)
    
    for table_name in tables:          
        #table_name = 'v_report_taxation'                
        
        
        bks= conf['links'][link]['src'][table_name]['bks']
        bks_list = [f"{x} varchar({maxvarchar}) NOT NULL" for x in bks]
                
        
        #print(hk_hubs_keys_str)        
        cks=conf['links'][link]['cks']        
        cks_list=[x for x in cks.values()]
        cks_str=''
        if len(cks_list)>0:
            cks_str=f" varchar({maxvarchar}) NOT NULL,\n\t".join(cks_list) + f" varchar({maxvarchar}) NOT NULL,"    
        
        #######################
        #     CREATE SQL
        #######################
        sql=f"""CREATE TABLE IF NOT EXISTS {schema_stage}.{table_name}__{lnk} (
        --hk--
        {hk} varchar({maxvarchar}) NOT NULL,
        --hks--
        {hks_list_str},
        --cks--
        {cks_str}
        --meta--
        DV_LOADTS timestamp NULL,
        DV_APPTS timestamp NULL,
        DV_RECSRC varchar({maxvarchar}) NULL,
        DV_TENANT varchar({maxvarchar}) NULL,
        DV_BKEYCODE varchar({maxvarchar}) NULL,
        DV_TASKID varchar({maxvarchar}) NULL
        );
        TRUNCATE {schema_stage}.{table_name}__{lnk};
        """
        print(sql)
        
        ######################
        #   INSERT SQL
        #######################
        tenant = conf['links'][link]['src'][table_name]['tenant']
        if not tenant:
            tenant='default'
            
        bkeycode = conf['links'][link]['src'][table_name]['bkeycode']
        if not bkeycode:
            bkeycode='default'    
            
            
        # hks & hk
        bks_mapping = conf['links'][link]['src'][table_name]['bks']
        bks_mapping_inv=defaultdict(list)
        for i,j in bks_mapping.items():
            bks_mapping_inv[j].append(i)
            
        hk_val_list=[] # total concatted value for link pk
        hks_val_list=[] # individual concatted vals for hubs pks
        for key in hks:
            # zero-key treatment
            if not bks_mapping_inv[key][0] in src_lnk_cols[table_name]:
                bks_mapping_inv[key]=["\'-1\'"]
        
            bks_list = [f"coalesce(trim({x}::varchar({maxvarchar})),\'-1\')" for x in bks_mapping_inv[key]]
            bks_list_joined = ",".join(bks_list)
            bks_list_str=f"concat_ws('|','{tenant}','{bkeycode}',{bks_list_joined})"
            bks_list_str=f"md5({bks_list_str})"
            hks_val_list.append(bks_list_str)
            
            hk_val_list.append(bks_list_joined)

        # hks
        hks_val_list_str = ",\n\t".join(hks_val_list)
        # hk        
        hk_val_list_str=",".join(hk_val_list)
        hk_val_list_str=f"md5(concat_ws('|','{tenant}','{bkeycode}',{hk_val_list_str}))"        
        
        
        #cks 
        records=src_lnk_cols[table_name]
        cks_val=[f"coalesce(trim({x}::varchar({maxvarchar})),'-1')" if x in records else "'-1'" for x in cks.keys()]
        cks_val_str=",\n\t".join(cks_val)

        if not appts:
            appts='current_timestamp'
        else:
            appts=appts+'::timestamp'                
                        
        
        sql=f"""INSERT INTO {schema_stage}.{table_name}__{link} SELECT 
        --hk--
        {hk_val_list_str},
        --hks--
        {hks_val_list_str},
        --cks--
        {cks_val_str},
        --meta--
        current_timestamp,
        {appts},
        '{table_name}',
        '{tenant}',
        '{bkeycode}',
        '{task_id}'
FROM {schema_source}.{table_name}
        ;        
        """

        
        print(sql)
        #break
    #break

CREATE TABLE IF NOT EXISTS stage.v_report_ziffer__lnk_taxbundle_ziffer (
        --hk--
        hk_l_taxbundle_ziffer varchar(256) NOT NULL,
        --hks--
        hk_ziffer varchar(256) NOT NULL,
	hk_tax_bundle varchar(256) NOT NULL,
        --cks--
        dossier varchar(256) NOT NULL,
        --meta--
        DV_LOADTS timestamp NULL,
        DV_APPTS timestamp NULL,
        DV_RECSRC varchar(256) NULL,
        DV_TENANT varchar(256) NULL,
        DV_BKEYCODE varchar(256) NULL,
        DV_TASKID varchar(256) NULL
        );
        TRUNCATE stage.v_report_ziffer__lnk_taxbundle_ziffer;

INSERT INTO stage.v_report_ziffer__lnk_taxbundle_ziffer SELECT
        --hk--
        md5(concat_ws('|','default','default',coalesce(trim(ziffer::varchar(256)),'-1'),coalesce(trim(tax_bundle_id::varchar(256)),'-1'),coalesce(trim(snapshot_version::varchar(256)),'-1'))),
        --hks--
        md5(concat_ws('|','default','default',coalesce(trim(ziffer::varchar(256)),'-1'))),
	md5(concat_ws('|','default','default',coalesce(trim(tax_bundle_id::varchar(256)),'-1'),coalesce(trim(snapshot_version::varchar(256)),'-1'))),
        --cks--
        '-1',
        --meta--
        current_timestamp,
        current_timestamp,
        'v_report_ziffer',
        'default',
        'default',
        '12345'
FROM quelle.v_report_ziffer
        ;

CREATE TABLE IF NOT EXISTS stage.v_report_taxation__lnk_taxbundle_ziffer (
        --hk--
        hk_l_taxbundle_ziffer varchar(256) NOT NULL,
        --hks--
        hk_ziffer varchar(256) NOT NULL,
	hk_tax_bundle varchar(256) NOT NULL,
        --cks--
        dossier varchar(256) NOT NULL,
        --meta--
        DV_LOADTS timestamp NULL,
        DV_APPTS timestamp NULL,
        DV_RECSRC varchar(256) NULL,
        DV_TENANT varchar(256) NULL,
        DV_BKEYCODE varchar(256) NULL,
        DV_TASKID varchar(256) NULL
        );
        TRUNCATE stage.v_report_taxation__lnk_taxbundle_ziffer;

INSERT INTO stage.v_report_taxation__lnk_taxbundle_ziffer SELECT
        --hk--
        md5(concat_ws('|','default','default',coalesce(trim('-1'::varchar(256)),'-1'),coalesce(trim(tax_bundle_id::varchar(256)),'-1'))),
        --hks--
        md5(concat_ws('|','default','default',coalesce(trim('-1'::varchar(256)),'-1'))),
	md5(concat_ws('|','default','default',coalesce(trim(tax_bundle_id::varchar(256)),'-1'))),
        --cks--
        coalesce(trim(dossier_uuid::varchar(256)),'-1'),
        --meta--
        current_timestamp,
        current_timestamp::timestamp,
        'v_report_taxation',
        'default',
        'default',
        '12345'
FROM quelle.v_report_taxation
        ;

## stage sats

In [7]:
schema_source='quelle'
src_sat_cols=defaultdict(list,{})
src_sat=defaultdict(list,{})

with engine.connect() as conn:    
    for sat,sat_obj in conf['sats'].items():
        for src in sat_obj['src'].keys():
            
            sql=f"""SELECT column_name, data_type 
                   FROM information_schema.columns
                   WHERE table_schema = \'{schema_source}\'
                   AND table_name   = \'{src}\';"""

            #print(sql)
            result=conn.execute(sql)            
            records=result.fetchall()
            #records=[i[0] for i in records]
            
            src_sat_cols[src]=[i[0] for i in records]
            src_sat[sat].append(src)

In [85]:
conf=defaultify(load_conf())

In [9]:
# V1.2
# WIP
schema_stage='stage'
appts=None
task_id = '12345'
#conf=dconf['rv']

for sat,tables in src_sat.items():            
    hk=conf['sats'][sat]['hk']
    if conf['sats'][sat]['cks'] and conf['sats'][sat]['multiactive']:
        print(f'ERROR: multiactive satellite {sat} must not have dependent child keys ')
        break
    for table_name in tables:
        # attrs
        attrs = conf['sats'][sat]['attrs']
        attrs_list = [f"{x} varchar({maxvarchar})" for x in attrs]
        attrs_list_str = ",\n\t".join(attrs_list)                                               
        
        # ckeys
        if conf['sats'][sat]['cks']:
            cks_mapping=conf['sats'][sat]['cks']
            cks_list=[f"{x} varchar({maxvarchar})" for x in cks_mapping.values()]
            cks_list_str = ",\n\t".join(cks_list)
        else:
            cks_list_str="--NONE--"
            
        
        #######################
        #     CREATE SQL
        #######################
        sql=f"""CREATE TABLE IF NOT EXISTS {schema_stage}.{table_name}__{sat} (
        --hk--
        {hk} varchar({maxvarchar}) NOT NULL,   
        --cks--
        {cks_list_str},
        --attributes--
        {attrs_list_str},
        --meta--
        DV_HASHDIFF varchar({maxvarchar}) NULL,
        DV_LOADTS timestamp NULL,
        DV_APPTS timestamp NULL,
        DV_RECSRC varchar({maxvarchar}) NULL,
        DV_TENANT varchar({maxvarchar}) NULL,
        DV_BKEYCODE varchar({maxvarchar}) NULL,
        DV_TASKID varchar({maxvarchar}) NULL        
       );
       TRUNCATE {schema_stage}.{table_name}__{sat};
       """
        
        print(sql)
        
        ######################
        #   INSERT SQL
        #######################   
        tenant = conf['sats'][sat]['src'][table_name]['tenant']
        if not tenant:
            tenant='default'
            
        bkeycode = conf['sats'][sat]['src'][table_name]['bkeycode']
        if not bkeycode:
            bkeycode='default'    
                        
        # hk
        bks=conf['sats'][sat]['src'][table_name]['bks']
        hk_val_list = [f"coalesce(trim({x}::varchar({maxvarchar})),'-1')" for x in bks]
        hk_val_list_str=",".join(hk_val_list)
        hk_val_list_str=f"concat_ws('|','{tenant}','{bkeycode}',{hk_val_list_str})"
        hk_val_list_str=f"md5({hk_val_list_str})"
        
        
        # attr
        attr_mapping = conf['sats'][sat]['src'][table_name]['attrs']                
        attr_mapping_inv={y:x for x,y in attr_mapping.items()}
        attr_val_list = [f"{x}" for x in attr_mapping_inv.values()]
        attr_val_list_str=",\n\t".join(attr_val_list)
        
        # hashdiff
        hashdiff_list = [f"trim({x}::varchar({maxvarchar}))" for x in attr_mapping_inv.values()]
        hashdiff_list_str = "concat_ws('|'," + ",".join(hashdiff_list) +"))"
                                        
        
        #cks   
        if conf['sats'][sat]['cks']:
            cks_val_list=[f"coalesce(trim({x}::varchar({maxvarchar})),\'-1\')" if x in src_sat_cols[table_name] else "\'-1\'" for x in cks_mapping.keys()]        
            cks_val_list_str=",\n\t".join(cks_val_list)
        else:
            cks_val_list_str="--NONE--"
        
            
        print("\n")

        #
        if not appts:
            appts='current_timestamp'
        else:
            appts=appts+'::timestamp'                
                
        
        sql=f"""INSERT INTO {schema_stage}.{table_name}__{sat} SELECT
        --hk--
        {hk_val_list_str},  
        --cks--
        {cks_val_list_str},           
        --attributes--
        {attr_val_list_str},  
        --meta--        
        {hashdiff_list_str},
        current_timestamp,
        {appts},
        '{table_name}',
        '{tenant}',
        '{bkeycode}',
        '{task_id}'
FROM {schema_source}.{table_name}
;        
        """
        
        print(sql)
        #break
    #break

CREATE TABLE IF NOT EXISTS stage.v_report_taxation__sat_taxbundle (
        --hk--
        hk_tax_bundle varchar(256) NOT NULL,
        --cks--
        --NONE--,
        --attributes--
        taxation_type varchar(256),
	status varchar(256),
	gemeinde_bfs varchar(256),
        --meta--
        DV_HASHDIFF varchar(256) NULL,
        DV_LOADTS timestamp NULL,
        DV_APPTS timestamp NULL,
        DV_RECSRC varchar(256) NULL,
        DV_TENANT varchar(256) NULL,
        DV_BKEYCODE varchar(256) NULL,
        DV_TASKID varchar(256) NULL
       );
       TRUNCATE stage.v_report_taxation__sat_taxbundle;



INSERT INTO stage.v_report_taxation__sat_taxbundle SELECT
        --hk--
        md5(concat_ws('|','default','default',coalesce(trim(tax_bundle_id::varchar(256)),'-1'),coalesce(trim(snapshot_version::varchar(256)),'-1'))),
        --cks--
        --NONE--,
        --attributes--
        taxation_type,
	status,
	gemeinde_bfs,
        --meta--
        concat_ws('|',trim(taxation_type::varchar(256)),trim(status::varchar(256)),trim(gemeinde_bfs::varchar(256)))),
        current_timestamp,
        current_timestamp,
        'v_report_taxation',
        'default',
        'default',
        '12345'
FROM quelle.v_report_taxation
;

### todo:
    - multiactive sats
    - oder doch erst weiter unten?

# loading


## load hubs

In [19]:
conf=defaultify(load_conf())

In [20]:
schema_edwh='edwh'
schema_stage='stage'
appts=None
task_id = '12345'
#conf=conf['rv']

for hub,tables in src_hub.items():            
    hk=conf['hubs'][hub]['hk']
    bk_tgt=conf['hubs'][hub]['bk']
    #######################
    #     CREATE SQL
    #######################
    sql=f"""CREATE TABLE IF NOT EXISTS {schema_edwh}.{hub} (
    --bk--
    {bk_tgt} varchar({maxvarchar}) NOT NULL,
    --hk--
    {hk} varchar({maxvarchar}) NOT NULL,
    --meta--    
    DV_LOADTS timestamp NULL,
    DV_APPTS timestamp NULL,
    DV_RECSRC varchar({maxvarchar}) NULL,
    DV_TENANT varchar({maxvarchar}) NULL,
    DV_BKEYCODE varchar({maxvarchar}) NULL,
    DV_TASKID varchar({maxvarchar}) NULL        
   );
   """
    
    print(sql)
    #continue
        
    
    for table_name in tables:                                        
        ######################
        #   INSERT SQL
        #######################                                   
        sql=f"""INSERT INTO {schema_edwh}.{hub} SELECT        
        --bk--
        {bk_tgt},        
        --hk--
        {hk},
        --meta--
        current_timestamp,
        DV_APPTS,
        DV_RECSRC,
        DV_TENANT,
        DV_BKEYCODE,        
        '{task_id}'
FROM {schema_stage}.{table_name}__{hub} src
WHERE NOT EXISTS (
    SELECT 1 
    FROM {schema_edwh}.{hub} tgt
    WHERE src.{hk} = tgt.{hk}
)
;        
        """
        
        print(sql)
        #break
    #break

CREATE TABLE IF NOT EXISTS edwh.hub_tax_bundle (
    --bk--
    tax_bundle_id varchar(256) NOT NULL,
    --hk--
    hk_tax_bundle varchar(256) NOT NULL,
    --meta--
    DV_LOADTS timestamp NULL,
    DV_APPTS timestamp NULL,
    DV_RECSRC varchar(256) NULL,
    DV_TENANT varchar(256) NULL,
    DV_BKEYCODE varchar(256) NULL,
    DV_TASKID varchar(256) NULL
   );

INSERT INTO edwh.hub_tax_bundle SELECT
        --bk--
        tax_bundle_id,
        --hk--
        hk_tax_bundle,
        --meta--
        current_timestamp,
        DV_APPTS,
        DV_RECSRC,
        DV_TENANT,
        DV_BKEYCODE,
        '12345'
FROM stage.v_report_taxation__hub_tax_bundle src
WHERE NOT EXISTS (
    SELECT 1
    FROM edwh.hub_tax_bundle tgt
    WHERE src.hk_tax_bundle = tgt.hk_tax_bundle
)
;

INSERT INTO edwh.hub_tax_bundle SELECT
        --bk--
        tax_bundle_id,
        --hk--
        hk_tax_bundle,
        --meta--
        current_timestamp,
        DV_APPTS,
        DV_RECSRC,
        DV_TENANT,
        DV_BKEYCODE,
        '12345'
FROM stage.v_report_ziffer__hub_tax_bundle src
WHERE NOT EXISTS (
    SELECT 1
    FROM edwh.hub_tax_bundle tgt
    WHERE src.hk_tax_bundle = tgt.hk_tax_bundle
)
;

CREATE TABLE IF NOT EXISTS edwh.hub_ziffer (
    --bk--
    ziffer varchar(256) NOT NULL,
    --hk--
    hk_ziffer varchar(256) NOT NULL,
    --meta--
    DV_LOADTS timestamp NULL,
    DV_APPTS timestamp NULL,
    DV_RECSRC varchar(256) NULL,
    DV_TENANT varchar(256) NULL,
    DV_BKEYCODE varchar(256) NULL,
    DV_TASKID varchar(256) NULL
   );

INSERT INTO edwh.hub_ziffer SELECT
        --bk--
        ziffer,
        --hk--
        hk_ziffer,
        --meta--
        current_timestamp,
        DV_APPTS,
        DV_RECSRC,
        DV_TENANT,
        DV_BKEYCODE,
        '12345'
FROM stage.v_report_dict_ziffer__hub_ziffer src
WHERE NOT EXISTS (
    SELECT 1
    FROM edwh.hub_ziffer tgt
    WHERE src.hk_ziffer = tgt.hk_ziffer
)
;

## load sats

In [141]:
conf=defaultify(load_conf())

In [143]:
schema_edwh='edwh'
schema_stage='stage'
appts=None
task_id = '12345'
#conf=dconf['rv']

for sat,tables in src_sat.items():            
    hk=conf['sats'][sat]['hk']
    
    if conf['sats'][sat]['cks'] and conf['sats'][sat]['multiactive']:
        print(f'ERROR: multiactive satellite {sat} must not have dependent child keys ')
        break
        
    # attrs
    attrs = conf['sats'][sat]['attrs']
    attrs_list = [f"{x} varchar({maxvarchar})" for x in attrs]
    attrs_def_list_str = ",\n\t".join(attrs_list)
    attrs_val_list_str = ",\n\t".join(attrs)
    
    # cks
    if conf['sats'][sat]['cks']:
        cks=conf['sats'][sat]['cks'].values()
        cks_def_list=[f"{x} varchar({maxvarchar})" for x in cks]
        cks_def_list_str=",\n\t".join(cks_def_list)
        cks_val_list_str=",\n\t".join(cks)
    else:
        cks_def_list_str='--NONE--'
        cks_val_list_str='--NONE--'
    
    # multiactive
    if conf['sats'][sat]['multiactive']:
        multiactive_def_str=f"DV_SUBSEQ int NOT NULL"
    else:
        multiactive_def_str="--"
               
    
    #######################
    #     CREATE SQL
    #######################
    sql=f"""CREATE TABLE IF NOT EXISTS {schema_edwh}.{sat} (
    --attributes--
    {attrs_def_list_str},
    --cks--
    {cks_def_list_str},
    --hk--
    {hk} varchar({maxvarchar}) NOT NULL,
    --meta--    
    DV_HASHDIFF varchar({maxvarchar}) NULL,
    DV_LOADTS timestamp NULL,
    DV_APPTS timestamp NULL,
    DV_RECSRC varchar({maxvarchar}) NULL,
    DV_TENANT varchar({maxvarchar}) NULL,
    DV_BKEYCODE varchar({maxvarchar}) NULL,
    {multiactive_def_str},
    DV_TASKID varchar({maxvarchar}) NULL        
   );"""
    
    #sql=sqlparse.format(sql, reindent=True, keyword_case='upper')
    print(sql)
    #continue
        
    
    ######################
    #   INSERT SQL
    #######################                                   
    # sat-type-dependet SQL
    # depends on type of sat: standard, ck or multiactive
    
    ##-------------------
    ## DEPENDENT KEY SAT
    ##-------------------
    for table_name in tables:
        if conf['sats'][sat]['cks']:        
            cks_list_str=",".join(cks)
            sql_where_conds_ck_list = [f"AND src.{x}=cur.{x}" for x in cks]
            sql_where_conds_ck_list_str ="\n\t".join(sql_where_conds_ck_list)

            # cte needed 
            sql=\
            f"""WITH CUR AS (
                SELECT {hk}
                     , {cks_list_str}
                     , DV_HASHDIFF
                     , RANK() over (PARTITION BY {hk},{cks_list_str} ORDER BY DV_APPTS DESC, DV_LOADTS DESC) AS DV_RNK
                FROM {schema_edwh}.{sat} tgt        
            )
            INSERT INTO {schema_edwh}.{sat} SELECT DISTINCT
            --attributes--
            {attrs_val_list_str},
            --cks--
            {cks_val_list_str},
            --hk--
            {hk},
            --meta--
            DV_HASHDIFF,
            current_timestamp,
            DV_APPTS,
            DV_RECSRC,
            DV_TENANT,
            DV_BKEYCODE,        
            '{task_id}'
            FROM {schema_stage}.{table_name}__{sat} src
            WHERE NOT EXISTS ( 
            SELECT 1 FROM CUR     
                WHERE CUR.DV_RNK = 1
                AND src.{hk} = CUR.{hk}
                {sql_where_conds_ck_list_str}
                AND src.DV_HASHDIFF = cur.DV_HASHDIFF
            );
            """
        ##------------------
        ## MULTI-ACTIVE SAT
        ##---------------------
        elif conf['sats'][sat]['multiactive']:
            # cte's needed
            sql = \
            f"""WITH unique_staged_content as (
            select DV_TENANT
            , {hk}
            , DV_RECSRC
            , DV_TASKID
            , DV_APPTS
            , DV_LOADTS
            , DV_HASHDIFF
            , SUM( (ROWNR=1)::int) OVER (PARTITION BY {hk}) as DVCOUNT
            , {attrs_val_list_str}
            from 
              ( 
                select s.*
              , ROW_NUMBER() OVER (PARTITION BY {hk},DV_HASHDIFF) as ROWNR
              from {schema_stage}.{table_name}__{sat} s
              ) drows
            )
            ,grp_cte as (
            SELECT {hk}
            , DV_APPTS
            , DV_LOADTS 
            , MAX(DV_SUBSEQ) as DVCOUNT
            , RANK() OVER (PARTITION BY {hk} ORDER BY DV_APPTS DESC, DV_LOADTS DESC) as DVRANK
            FROM {schema_edwh}.{sat}
            GROUP BY {hk}, DV_APPTS, DV_LOADTS
            )
            INSERT INTO {schema_edwh}.{sat}
            SELECT 
              DV_TENANT
            , {hk}
            , DV_RECSRC
            , '{task_id}' --task_id
            , DV_APPTS
            , DV_LOADTS
            , DV_HASHDIFF
            , DENSE_RANK() OVER (PARTITION BY {hk} ORDER BY DV_HASHDIFF) as DV_SUBSEQ
            , {attrs_val_list_str}
            FROM unique_staged_content dlt
            WHERE EXISTS (
                SELECT 1 FROM unique_staged_content stg 
                WHERE NOT EXISTS (
                    SELECT 1 FROM (
                        SELECT
                          msat.{hk}
                        , msat.DV_HASHDIFF
                        , msat.DV_APPTS
                        , msat.DV_LOADTS
                        , msat.DV_SUBSEQ
                        , grp.DVCOUNT
                    FROM {schema_edwh}.{sat} msat
                    INNER JOIN (
                        SELECT * 
                        FROM grp_cte
                        WHERE DVRANK = 1
                    ) grp 
                    ON msat.{hk} = grp.{hk}
                    and msat.DV_APPTS = grp.DV_APPTS
                    and msat.DV_LOADTS = grp.DV_LOADTS
                ) msat 
                WHERE stg.{hk} = msat.{hk}
                AND stg.DV_HASHDIFF = msat.DV_HASHDIFF
                AND stg.DVCOUNT = msat.DVCOUNT
            )
            AND dlt.{hk} = stg.{hk}
            );                
            """        
        ##------------------
        ## REGULAR SAT
        ##------------------
        else:
            sql=\
            f"""INSERT INTO {schema_edwh}.{sat} SELECT DISTINCT
            --attributes--
            {attrs_val_list_str},
            --hk--
            {hk},
            --meta--
            DV_HASHDIFF,
            current_timestamp,
            DV_APPTS,
            DV_RECSRC,
            DV_TENANT,
            DV_BKEYCODE,        
            '{task_id}'
            FROM {schema_stage}.{table_name}__{sat} src
            WHERE NOT EXISTS (
            SELECT 1 
            FROM {schema_edwh}.{sat} tgt
            WHERE src.{hk} = tgt.{hk}
            )
            ;        
            """        

        sql=sqlparse.format(sql, reindent=True, keyword_case='upper')#,comma_first=True)
        print(sql)
        break
    break

CREATE TABLE IF NOT EXISTS edwh.sat_taxbundle (
    --attributes--
    taxation_type varchar(256),
	status varchar(256),
	gemeinde_bfs varchar(256),
    --cks--
    --NONE--,
    --hk--
    hk_tax_bundle varchar(256) NOT NULL,
    --meta--
    DV_HASHDIFF varchar(256) NULL,
    DV_LOADTS timestamp NULL,
    DV_APPTS timestamp NULL,
    DV_RECSRC varchar(256) NULL,
    DV_TENANT varchar(256) NULL,
    DV_BKEYCODE varchar(256) NULL,
    --,
    DV_TASKID varchar(256) NULL
   );
INSERT INTO edwh.sat_taxbundle
SELECT DISTINCT --attributes--
 taxation_type,
 status,
 gemeinde_bfs, --hk--
 hk_tax_bundle, --meta--
 DV_HASHDIFF,
 CURRENT_TIMESTAMP,
 DV_APPTS,
 DV_RECSRC,
 DV_TENANT,
 DV_BKEYCODE,
 '12345'
FROM stage.v_report_taxation__sat_taxbundle src
WHERE NOT EXISTS
    (SELECT 1
     FROM edwh.sat_taxbundle tgt
     WHERE src.hk_tax_bundle = tgt.hk_tax_bundle ) ;

with unique_staged_content as (
	select dv_tenant 
		 , hk_tax_bundle
		 , dv_recsrc 
		 , dv_taskid 
		 , dv_appts 
		 , dv_loadts 
		 , dv_hashdiff 
		 --, count(distinct dv_hashdiff) over (partition by hk_tax_bundle) as dvcount
		 , sum( (rownr=1)::int) over (partition by hk_tax_bundle) as dvcount
		 , taxation_type 
		 , status 
		 , gemeinde_bfs 
	from 
	( 
		select s.*
			 , row_number() over (partition by hk_tax_bundle,dv_hashdiff) as rownr
		from stage.v_report_taxation__sat_taxbundle s
	) drows		
),
grp_cte as (
	select hk_tax_bundle
		 , dv_appts
		 , dv_loadts 
		 , max(dv_subseq) as dvcount
		 , rank() over (partition by hk_tax_bundle order by dv_appts desc, dv_loadts desc) as dvrank
	from edwh.sat_taxbundle
	group by hk_tax_bundle, dv_appts, dv_loadts 
)
insert into edwh.sat_taxbundle 
select dv_tenant
		 , hk_tax_bundle
		 , dv_recsrc 
		 , dv_taskid 
		 , dv_appts 
		 , dv_loadts 
		 , dv_hashdiff 
		 , dense_rank() over (partition by hk_tax_bundle order by dv_hashdiff) as dv_subseq
		 , taxation_type 
		 , status 
		 , gemeinde_bfs 
from unique_staged_content dlt
where exists (
	select 1 from unique_staged_content stg 
	where not exists (
		select 1 from (
			select msat.hk_tax_bundle 
				 , msat.dv_hashdiff
				 , msat.dv_appts
				 , msat.dv_loadts
				 , msat.dv_subseq
				 , grp.dvcount
			from edwh.sat_taxbundle msat 
			inner join (
				select * from grp_cte
				where dvrank = 1
			) grp 
			on msat.hk_tax_bundle = grp.hk_tax_bundle
			and msat.dv_appts = grp.dv_appts
			and msat.dv_loadts = grp.dv_loadts			
		) msat 
		where stg.hk_tax_bundle = msat.hk_tax_bundle
		and stg.dv_hashdiff = msat.dv_hashdiff
		and stg.dvcount = msat.dvcount		
	)
	and dlt.hk_tax_bundle = stg.hk_tax_bundle
)

## load links

In [29]:
bks_mapping=conf['links']['lnk_taxbundle_ziffer']['src']['v_report_ziffer']['bks']

In [31]:
for x,y in bks_mapping.items():
    print(x,y)

ziffer hk_ziffer
tax_bundle_id hk_tax_bundle
snapshot_version hk_tax_bundle

In [104]:
schema_edwh='edwh'
schema_stage='stage'
appts=None
task_id = '12345'
#conf=dconf['rv']

for link,tables in src_lnk.items():            
    hk=conf['links'][link]['hk']
    hks=conf['links'][link]['hks']
            
    #attrs = conf['links'][sat]['attrs']
    #attrs_list = [f"{x} varchar({maxvarchar})" for x in attrs]
    #attrs_def_list_str = ",\n\t".join(attrs_list)
    #attrs_val_list_str = ",\n\t".join(attrs)
    hks_list=[f"{x} varchar({maxvarchar}) NOT NULL" for x in hks]
    hks_def_list_str=",\n\t".join(hks_list)    
    hks_val_list_str=",\n\t".join(hks)    
    
    cks=conf['links'][link]['cks'].values()
    cks_list=[f"{x} varchar({maxvarchar})" for x in cks]
    cks_def_list_str=",\n\t".join(cks_list)
    cks_val_list_str=",\n\t".join(cks)
    
    
    #######################
    #     CREATE SQL
    #######################
    sql=f"""CREATE TABLE IF NOT EXISTS  {schema_edwh}.{link} (
    --hk--
    {hk} varchar({maxvarchar}) NOT NULL,
    --hks--
    {hks_def_list_str},
    --cks--
    {cks_def_list_str},    
    --meta--    
    DV_LOADTS timestamp NULL,
    DV_APPTS timestamp NULL,
    DV_RECSRC varchar({maxvarchar}) NULL,
    DV_TENANT varchar({maxvarchar}) NULL,
    DV_BKEYCODE varchar({maxvarchar}) NULL,
    DV_TASKID varchar({maxvarchar}) NULL        
   );
   """
    
    print(sql)
    #continue
        
    
    for table_name in tables:                                        
        #bks_mapping = conf['links'][link]['src'][table_name]['bks']
        #bks_mapping=conf['links']['lnk_taxbundle_ziffer']['src']['v_report_ziffer']['bks']
        #bks_mapping_inv ={y:x for x,y in bks_mapping.items()}
        
        #bks_list = [f"{bks_mapping_inv[x]} varchar({maxvarchar})" for x in hks]
        #bks_list_str =
                        
        
        ######################
        #   INSERT SQL
        #######################                                   
        sql=f"""INSERT INTO {schema_edwh}.{link} SELECT
        --hk--
        {hk},
        --hks--
        {hks_val_list_str},        
        --cks--
        {cks_val_list_str},
        --meta--
        current_timestamp,
        DV_APPTS,
        DV_RECSRC,
        DV_TENANT,
        DV_BKEYCODE,        
        '{task_id}'
FROM {schema_stage}.{table_name}__{link} src
WHERE NOT EXISTS (
    SELECT 1 
    FROM {schema_edwh}.{link} tgt
    WHERE src.{hk} = tgt.{hk}
)
;        
        """
        
        print(sql)
        #break
    #break

CREATE TABLE IF NOT EXISTS  edwh.lnk_taxbundle_ziffer (
    --hk--
    hk_l_taxbundle_ziffer varchar(256) NOT NULL,
    --hks--
    hk_ziffer varchar(256) NOT NULL,
	hk_tax_bundle varchar(256) NOT NULL,
    --cks--
    dossier varchar(256),
    --meta--
    DV_LOADTS timestamp NULL,
    DV_APPTS timestamp NULL,
    DV_RECSRC varchar(256) NULL,
    DV_TENANT varchar(256) NULL,
    DV_BKEYCODE varchar(256) NULL,
    DV_TASKID varchar(256) NULL
   );

INSERT INTO edwh.lnk_taxbundle_ziffer SELECT
        --hk--
        hk_l_taxbundle_ziffer,
        --hks--
        hk_ziffer,
	hk_tax_bundle,
        --cks--
        dossier,
        --meta--
        current_timestamp,
        DV_APPTS,
        DV_RECSRC,
        DV_TENANT,
        DV_BKEYCODE,
        '12345'
FROM stage.v_report_ziffer__lnk_taxbundle_ziffer src
WHERE NOT EXISTS (
    SELECT 1
    FROM edwh.lnk_taxbundle_ziffer tgt
    WHERE src.hk_l_taxbundle_ziffer = tgt.hk_l_taxbundle_ziffer
)
;

INSERT INTO edwh.lnk_taxbundle_ziffer SELECT
        --hk--
        hk_l_taxbundle_ziffer,
        --hks--
        hk_ziffer,
	hk_tax_bundle,
        --cks--
        dossier,
        --meta--
        current_timestamp,
        DV_APPTS,
        DV_RECSRC,
        DV_TENANT,
        DV_BKEYCODE,
        '12345'
FROM stage.v_report_taxation__lnk_taxbundle_ziffer src
WHERE NOT EXISTS (
    SELECT 1
    FROM edwh.lnk_taxbundle_ziffer tgt
    WHERE src.hk_l_taxbundle_ziffer = tgt.hk_l_taxbundle_ziffer
)
;